body {
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
  height: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li.right {
	float: right;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	color: #ffd700;
}

main {
  padding: 100px 20px 20px;
  box-sizing: border-box;
  text-align: center;
  min-height: calc(100vh -  150px);
}



  padding: 100px 20px 20px;
  box-sizing: border-box;
  text-align: center;

}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fff;
  color: #333;
}

footer {
  background-color: #7f8c8d;
  color: #333;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}


form {
  width: 400px;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="radio"],
form input[type="number"],
form input[type="date"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1px;
  border: none;
  border-radius: 7px;
  box-sizing: border-box;
}

form input[type="submit"] {
   background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #7f8c8d;
}


.login input[type="email"],
.login input[type="password"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.login button[type="submit"] {
    background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login button[type="submit"]:hover {
  background-color: #7f8c8d;
}



table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #006699;
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 767px) {
  table {
    border: 0;
  }

  th, td {
    display: block;
    padding: 6px;
    border: 0;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: transparent;
    color: #333;
    font-weight: bold;
    border-bottom: 3px solid #ddd;
  }

  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #7f8c8d;
}




.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.product img {
  width: 300px;
  height: 350px;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-size: 14px;
  margin-bottom: 10px;
}

.product span {
  font-size: 20px;
  font-weight: bold;
}

.cart {
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  margin: 0 auto;
}

h2 {
  margin-top: 0;
}

.cart table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.cart thead {
  background-color: #f1f1f1;
}

.cart th, .cart td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cart tr:hover {
  background-color: #f5f5f5;
}
